In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
from bs4 import BeautifulSoup
from selenium.webdriver import ActionChains
import cx_Oracle
import re
import pandas as pd

In [30]:
con = cx_Oracle.connect('mbti/1111@192.168.30.28:1521/xe')
cur1 = con.cursor()
my_sql="""
select * from BOX_RANK_DATA
"""
rs = cur1.execute(my_sql)

In [23]:
con = cx_Oracle.connect('mbti/1111@192.168.30.28:1521/xe')
cur = con.cursor()
my_sql="""
select * from BOX_RANK_DATA
where RANK_DATE = '20230816'
"""

In [24]:
cur.execute(my_sql)
cur
df = pd.DataFrame(cur)
df.shape

(10, 3)

In [34]:
data =[]
for record in rs:
    row=[]
    for source in range(0, len(record)):
        row.append(record[source])
    data.append(row)

In [36]:
columns = ['날짜','제목','랭킹']

In [39]:
rank = pd.DataFrame(columns=columns, data = data)

In [40]:
rank

          날짜                        제목  랭킹
0   20230815                 콘크리트 유토피아   2
1   20230815               달짝지근해: 7510   3
2   20230815                        밀수   4
3   20230815                      엘리멘탈   5
4   20230815                    메가로돈 2   6
..       ...                       ...  ..
65  20230816                    메가로돈 2   7
66  20230816                     비공식작전   8
67  20230816  미션 임파서블: 데드 레코닝 PART ONE   9
68  20230816                 런닝맨: 리벤져스  10
69  20230815                     오펜하이머   1

[70 rows x 3 columns]

In [53]:
lists = []

In [54]:
lists.append(rank[(rank['제목'] == '콘크리트 유토피아')].to_dict('records'))

In [58]:
lists

[[{'날짜': '20230815', '제목': '콘크리트 유토피아', '랭킹': 2},
  {'날짜': '20230814', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230813', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230812', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230811', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230810', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230816', '제목': '콘크리트 유토피아', '랭킹': 2}]]