In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time
from bs4 import BeautifulSoup
from selenium.webdriver import ActionChains
import cx_Oracle
import re
import pandas as pd

In [2]:
con = cx_Oracle.connect('mbti/1111@192.168.30.28:1521/xe')
cur1 = con.cursor()
my_sql="""
select * from BOX_RANK_DATA
"""
rs = cur1.execute(my_sql)

In [3]:
con = cx_Oracle.connect('mbti/1111@192.168.30.28:1521/xe')
cur = con.cursor()
my_sql="""
select * from BOX_RANK_DATA
where RANK_DATE = '20230820'
"""

In [5]:
cur.execute(my_sql)
cur
df = pd.DataFrame(cur)
df

          0                                   1   2
0  20230820                               오펜하이머   1
1  20230820                           콘크리트 유토피아   2
2  20230820                         달짝지근해: 7510   3
3  20230820                                  밀수   4
4  20230820                                엘리멘탈   5
5  20230820                              메가로돈 2   6
6  20230820                                 보호자   7
7  20230820  바다 탐험대 옥토넛 어보브 앤 비욘드 : 육지 넘어 하늘까지!   8
8  20230820                           런닝맨: 리벤져스   9
9  20230820                               비공식작전  10

In [6]:
data =[]
for record in rs:
    row=[]
    for source in range(0, len(record)):
        row.append(record[source])
    data.append(row)

In [7]:
columns = ['날짜','제목','랭킹']

In [8]:
rank = pd.DataFrame(columns=columns, data = data)

In [9]:
rank

          날짜                                  제목  랭킹
0   20230819                           콘크리트 유토피아   2
1   20230819                         달짝지근해: 7510   3
2   20230819                                  밀수   4
3   20230819                                엘리멘탈   5
4   20230819                              메가로돈 2   6
..       ...                                 ...  ..
65  20230820                                 보호자   7
66  20230820  바다 탐험대 옥토넛 어보브 앤 비욘드 : 육지 넘어 하늘까지!   8
67  20230820                           런닝맨: 리벤져스   9
68  20230820                               비공식작전  10
69  20230819                               오펜하이머   1

[70 rows x 3 columns]

In [53]:
lists = []

In [54]:
lists.append(rank[(rank['제목'] == '콘크리트 유토피아')].to_dict('records'))

In [58]:
lists

[[{'날짜': '20230815', '제목': '콘크리트 유토피아', '랭킹': 2},
  {'날짜': '20230814', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230813', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230812', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230811', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230810', '제목': '콘크리트 유토피아', '랭킹': 1},
  {'날짜': '20230816', '제목': '콘크리트 유토피아', '랭킹': 2}]]